*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    
}
body {
    background-image: url(/img/istockphoto-1167952490-170667a.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.game{
    background-image: url(/img/wild-west.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 300px;
    border: 1px solid black;
    margin: auto;
    position: relative;
    justify-content: center;
    align-items: center;
}
#character{
    width: 40px;
    height: 50px;
    background-image: url(/img/dino\ copy.png);
    position:relative;
    display: block;
    top: 250px;
}
.animate{
    animation: jump 0.4s linear;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 250px;}
}
#block{
    width: 30px;
    height: 40px;
    position: relative;
    top: 210px;
    left: 500px;
    animation: block 1s infinite linear;    
}
@keyframes block{
    0%{left: 500px}
    100%{left: -100px}
}
p{
    text-align: center;
    position: relative;
    font-size: 2rem;
    font-family: 'Teko', sans-serif;
    color: black;
}
