@import url("https://fonts.cdnfonts.com/css/super-legend-boy?styles=62384%22");

* {
  box-sizing: border-box;
}
.span1 {
  border-radius: 10px;
  background-color: black;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
  color: white;
  padding: 0.4rem;
}
.span2 {
  background-color: orange;
  box-shadow: 5px 5px 10px 5px rgba(254, 140, 0, 0.5);
  border-radius: 10px;
  color: white;
  padding: 0.4rem;
}
body {
  height: 100vh;
  margin: 0;
  justify-content: center;
  padding: 0;
  background-image: url(./img/1624.jpg);
  background-size: cover;
  background-position: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-title {
  font-family: "Super Legend Boy", sans-serif;
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px rgb(194, 194, 194), 0 0 1em rgb(175, 175, 175), 0 0 0.2em rgb(209, 209, 209);
  margin: 0.5rem;
  color: white;
}
.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  text-decoration: none;
  font-family: "Super Legend Boy", sans-serif;

  color: white;
  padding: 1rem;
  display: block;
}
.navbar-links li:hover {
  background-color: #ff9500;
}
.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.welkom {
  color: white;
}
@media (max-width: 600px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
}
.wrapper {
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  margin-top: 8rem;
  align-items: center;
  backdrop-filter: blur(20px);
  overflow: hidden;

  transition: height 0.2s ease;
}
.wrapper.active {
  height: 520px;
}
.wrapper .form-box {
  width: 100%;
  padding: 40px;
}
.wrapper .form-box.login {
  transition: transform 0.18s ease;
  transform: translateX(0);
}
.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}
.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}
.wrapper.active .form-box.register {
  transition: transform 0.18s ease;
  transform: translateX(0);
}


.form-box h2 {
  font-size: 2em;
  text-align: center;
}
.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid white;
  margin: 30px 0;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;

}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  padding: 0 35px 0 5px;
}
.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  line-height: 57px;
}
.kleur {
  color: white;
}
.remember-forgot {
  font-size: 0.9em;
  font-weight: 500;
  margin: -15px 0 15px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input {
  accent-color: #ffffff;
  margin-right: 3px;
}
.remember-forgot a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
.login-button {
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
}
.login-register {
  font-size: 0.9em;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.login-register p a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 600;
}
.login-register p a:hover {
  text-decoration: underline;
}

.container {
  position:relative;
  max-height: 800px;
	max-width: 800px;
  backdrop-filter: blur(20px);
  background: transparent;
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);
	margin: auto;
  margin-top: 8rem;
	padding: 25px;

}

.profile-header {
	display: flex;
	align-items: center;
  margin-top: 100px;
}

.profile-image img {
	border-radius: 50%;
}

.profile-username h1 {
	margin-left: 20px;
  color:white;
}

.profile-bio h2 {
	margin-top: 30px;
  color:white;
}

.profile-bio p {
	line-height: 1.5;
  color:white;
}

.profile-achievements h2 {
	margin-top: 30px;
  color:white;
}

.profile-achievements ul {
	margin: 0;
	padding: 0;
	list-style: none;
  color:white;
}

